@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-inter), system-ui, sans-serif;
    background-color: #141414;
    z-index: 1;
  }

  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  .Hero-num {
    font-family: var(--font-jersey), sans-serif;
  }
}

.Hero-num {
  transform: translateY(-150px);
  opacity: 0;
  animation: Numberrevealer 1.5s 1 ease-in-out forwards;
}

.nav li::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #ff8000;
  transition: width 0.3s;
}

.nav li:hover::after {
  width: 100%;
}

@keyframes Numberrevealer {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.block-line-wrapper {
  position: relative;
  width: max-content;
  display: block;
}

.block-line {
  position: relative;
  display: block;
}

.block-revealer {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  pointer-events: none;
  will-change: transform;
  z-index: 1;
}

.statsNum {
  font-family: var(--font-jersey), sans-serif;
}
